/******************** PAGE PARTS ********************/
html {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
	flex: 1 0 auto;
	margin-bottom: 0px !important;
}

footer{
	color: white;
	padding-top: 10px !important;
	margin-top: 0px !important;
}
/***************** END OF PAGE PARTS *****************/



/*********************** FORM ***********************/
form{
	margin: 0px;
}

input{
	text-align: center;
}

label{
	color: black;
}

.login-form{
	text-align: center;
}
/******************** END OF FORM ********************/




/************************ CARD ***********************/
.card{
	padding-top: 10px !important;
	padding-bottom: 5px !important;
}

.card-reveal{
	left: 0px;
}

.activator{
	margin-bottom: 5px;
	margin-top: 5px;
}

img.card-img{
	margin-top: 5px;
	margin-bottom: 8px;
}
/******************** END OF CARD ********************/




/********************** BUTTONS **********************/
button.add-filters{
	right: 5px;
}

button.products-submit{
	margin-top: 5px;
	right: -5px;
}

button.invoices-submit, button.customer-submit{
	margin-top: 0px;
}

button.customer-submit{
	margin-bottom: 5px;
}
/******************* END OF BUTTONS *******************/




/******************* NAVIGATION BAR *******************/
.nav-logo{
	height: 65px;
}

.nav-wrapper{
	margin-left: 10px;
	margin-right: 10px;
}
/**************** END OF NAVIGATION BAR ***************/



/************************ MODAL ***********************/
.modal-content{
	max-height: 89% !important;
	padding-bottom: 0px !important;
}
/********************* END OF MODAL ********************/




/********************* OUTPUT COLOR ********************/
p.out-of-stock, p.invalid, p.empty{
	color: orange;
}

p.duplicate, p.no-action{
	color: grey;
}

p.disabled, p.not_yet_shipped{
	color: blue;
}

p.internal-server-error, p.deleted{
	color: red;
}

p.success{
	font-weight: bold;
}
/***************** END OF OUTPUT COLOR ****************/




/********************* OTHER PARTS ********************/
.footer{
	margin-bottom: 10px;
}

.header{
	font-size: 30px;
}

.option-question{
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

.integration{
	color: #7cb342;
	font-family: segoe print;
	font-weight: bold;
}

.logos{
	height: 17%;
}

.panel{
	margin: 0px 10px 0px 10px;
}

.description{
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

.login-card{
	margin-top: 7%;
	margin-bottom: 6%;
}
/***************** END OF OTHER PARTS *****************/